*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*div{
  border: red solid 0.5px;
}
img{
   border: #ffff solid 2px; 
} */

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    height: 100%;
    background-image: url(/images/RPS_BG.svg);
	background-size: cover;
}

.container h1, .container h2, .container p, #my-point, #your-score, #header, #pc-point, #pc-score, #sb-header {
    text-align: center;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0 30px;
}

#header {
    font-size: 100px;
}

.container h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.container p{
    font-size: 40px;
    color: Yellow;
}

#sb-header{
    margin-bottom: 0px;
}

.container .scoreboard {
    padding-bottom: 40px;
}

.p-scores{
    font-size: 30px;
    margin: 0 20px;
}

.scores{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rock-paper-scissors{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
}

.play-choice{
   height: 200px;
   margin: 0 30px;
   transition: all .5s ease-in-out;
}

.restart-game{
    text-align: center;
    margin: 0 auto;
}

#try-again{
    font-size: 20px;
    padding: 5px 10px;
}

#rock:hover {
    background-image: url(/images/rock.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(1.3); 
}

#paper:hover {
    background-image: url(/images/paper.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(1.3); 
 }

 #scissors:hover {
    background-image: url(/images/scissors.svg);
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(1.3); 
 }
 

